{% extends 'base.html' %}

{% block content %}
<h1>Добро пожаловать в наш магазин электроники!</h1>

<div class="slogan">
    <h2>{{ slogan.text }}</h2>
</div>

<div class="video">
    <h2>Видео о нашем магазине:</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
</div>

<div class="top-gadgets">
    <h2>Топ 5 популярных гаджетов за неделю:</h2>
    <ul>
        {% for gadget in top_gadgets %}
        <li>{{ gadget.name }} - {{ gadget.price }} рублей</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
